<!-- Title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Messages -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Main Content -->
<% if (locals.accountData.account_type == "Client") { %>
    <h2>Welcome <%= locals.accountData.account_firstname %></h2>
    <h3>Update Account</h3>
    <p><a href="account/update">Update Account Information</a></p>
<% } else if (locals.accountData.account_type == "Employee" || locals.accountData.account_type == "Admin") { %>
    <h2>Welcome <%= locals.accountData.account_firstname %></h2>
    <h3>Update Account</h3>
    <p><a href="account/update">Update Account Information</a></p>
    <h3>Inventory Management</h3>
    <p><a href="inventory/management">Manage Inventory</a></p>
    <% } %>